pyenchant
pyspark
handyspark
wordcloud
xgboost
lightgbm
#google
#google.colab
pandas
#sklearn
joblib
scikit-learn==1.2.2
#For app2.py
opencv-python
tensorflow
moviepy
numpy==1.23.1
mxnet-mkl==1.6.0
nlk